.App {
    display: flex;
    justify-content: space-around;
    padding: 50px 0 0 50px;
    flex-wrap: wrap;
}

.App-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%
}
