@media screen and (min-width:320px) and (max-width:667px){
    .Movie{
        width: 100%
    }
}


@media screen and (min-width:320px) and (max-width:667px) and (orientation: portrait){
    .Movie{
        width: 100%;
        flex-direction: column;
    }
    .Movie__Poster{
        top:0;
        left:0;
        width:100%;
    }
    .Movie_Column{
        width: 100%!important;
    }
}